@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary: var(--font-primary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary), serif;
  font-style: normal;
  font-weight: 400;
}
[data-scroll-container] {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE/Edge */
}

[data-scroll-container]::-webkit-scrollbar {
  display: none;                /* Chrome/Safari */
}